.circular_menu {
  /* background-color: rgba(255, 255, 255, 0.2); */
  /* background-color: red; */
  backdrop-filter: blur(4px);
}
.circular_menu .floating_btn {
  display: block;
  width: 3.5em;
  height: 3.5em;
  border-radius: 50%;
  box-shadow: 0 2px 5px 0 hsla(0, 0%, 0%, 0.26);
  color: hsl(0, 0%, 100%);
  text-align: center;
  line-height: 3.9;
  cursor: pointer;
  outline: 0;
}

.circular_menu .active .floating_btn {
  box-shadow: inset 0 0 3px hsla(0, 0%, 0%, 0.3);
}

.circular_menu .floating_btn:active {
  box-shadow: 0 4px 8px 0 hsla(0, 0%, 0%, 0.4);
}

.circular_menu .floating_btn i {
  font-size: 1.3em;
  transition: transform 0.2s;
}

.circular_menu .active .floating_btn i {
  transform: rotate(-45deg);
}

.circular_menu:after {
  display: block;
  content: " ";
  width: 3.5em;
  height: 3.5em;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -2;
  transition: all 0.3s ease;
}

.circular_menu .active:after {
  transform: scale3d(5.5, 5.5, 1);
  transition-timing-function: cubic-bezier(0.68, 1.55, 0.265, 1);
}

.circular_menu .items_wrapper {
  padding: 0;
  margin: 0;
}

.circular_menu .menu_item {
  position: absolute;
  top: 0.2em;
  right: 0.2em;
  z-index: -1;
  display: block;
  text-decoration: none;
  color: hsl(0, 0%, 100%);
  font-size: 1em;
  width: 3em;
  height: 3em;
  border-radius: 50%;
  text-align: center;
  line-height: 3;
  background-color: #37474f;

  /* background-color: rgba(255, 255, 255, 0.2); */
  /* backdrop-filter: blur(4px); */

  color: #ffffff;
  font-weight: 500;

  transition: transform 0.3s ease, background 0.2s ease;
}

.circular_menu .floating_btn {
  /* background-image: linear-gradient(
    to right,
    #ff6e7f 0%,
    #bfe9ff 51%,
    #ff6e7f 100%
  ); */
  /* margin: 10px; */
  /* padding: 15px 45px; */
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  /* box-shadow: 0 0 20px #eee; */
  /* border-radius: 10px; */
  display: block;
}

.circular_menu .menu_item:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.circular_menu .menu_item:hover {
  background-color: #263238;
  /* background-color: rgba(255, 255, 255, 0.5); */

  cursor: pointer;
}

.circular_menu .active .menu_item {
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.circular_menu {
  position: fixed;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
}

.circular_menu .floating_btn {
  background-color: hsl(217, 89%, 61%);
}

.circular_menu:after {
  background-color: hsl(217, 89%, 61%);
}

.circular_menu .active .floating_btn i {
  transform: rotate(90deg);
}

.circular_menu .active .menu_item:nth-child(1) {
  transform: translate(0, -100px);
}

.circular_menu .active .menu_item:nth-child(2) {
  transform: translate(87px, 50px);
}

.circular_menu .active .menu_item:nth-child(3) {
  transform: translate(87px, -50px);
}

.circular_menu .active .menu_item:nth-child(4) {
  transform: translate(0, 100px);
}
